<div class="content-order">
  <div>
      <span>Colors order :</span>
      <span *ngFor="let color of randomColorsOrder">{{ color }}</span>
  </div>
  <div>
      <span>Values order :</span>
      <span *ngFor="let value of randomValuesOrder">{{ value }}</span>
  </div>
</div>
<div class="content-cards">
  <div *ngFor="let card of hand" class="content-card">
      <span class="content-card-value">{{ getCardAttribut(card, 1) }}</span>
      <span class="content-card-color">{{ getCardAttribut(card, 0) }}</span>
  </div>
</div>
<div class="content-actions">
  <button (click)="drawHand()">Draw Hand</button>
  <button (click)="setRandomColors()">Random colors</button>
  <button (click)="setRandomValues( )">Random values</button>
</div>